a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a :hover {
    color: #ff8b23;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: 1s;
    transition: 1s;
}

.blog-info-link li {
    float: left;
    font-size: 14px;
}

.blog-info-link li a {
    color: #999999;
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px;
}

.sub_header .sub_header_social_icon a i {
    margin-right: 12px;
    color: #ff8b23;
}

.site-logo a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #25262a;
    color: #000 !important;
}

.site-logo a:hover {
    text-decoration: none;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
}

.btn {
    height: 43px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    text-transform: uppercase;
    font-size: 13px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.btn-black {
    padding: 12px 30px;
    background: #000;
    color: #fff;
}

.btn.btn-black:hover,
.btn.btn-black:active,
.btn.btn-black:focus {
    background-color: #333333;
}

.form-control {
    height: 43px;
}

.form-control:active,
.form-control:focus {
    border-color: #ee4266;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer ul li a {
    color: #5c626e;
}

.site-footer ul li a:hover {
    color: #ee4266;
}

.site-logo a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #25262a;
    color: #000 !important;
}

.site-logo a:hover {
    text-decoration: none;
}

.icons-btn {
    display: inline-block;
    text-align: center;
}

.icons-btn i {
    display: block;
    height: 40px;
    width: 40px;
    padding-right: 5px;
    line-height: 40px;
}

.site-menu-toggle {
    display: block;
    text-align: center;
    font-size: 28px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.site-navbar {
    background: #fff;
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    background: #fff !important;
}

.site-navbar .site-navbar-top {
    border-bottom: 1px solid #f3f3f4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.site-navbar .site-search-icon a span {
    display: inline-block;
    margin-right: 10px;
}

.site-navbar .site-search-icon a:hover {
    text-decoration: none;
}

.site-navbar a {
    color: #868995;
}

.site-navbar a:hover {
    color: #3d3f45;
}

.site-navbar .icon {
    font-size: 20px;
}

.site-navbar .site-top-icons ul,
.site-navbar .site-top-icons ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-navbar .site-top-icons ul li {
    display: inline-block;
}

.site-navbar .site-top-icons ul li a {
    margin-right: 10px;
}

.site-navbar .site-top-icons ul li a.site-cart {
    display: block;
    position: relative;
}

.site-navbar .site-top-icons ul li a.site-cart .count {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -15px;
    margin-top: -20px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
    background: #ee4266;
    color: #fff;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

.site-navbar .site-top-icons ul li a:hover .count {
    -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
    margin-top: -22px;
}

.site-navbar .site-top-icons ul li:last-child a {
    padding-right: 0;
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #ee4266;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 15px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #ee4266;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #ee4266;
    -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #edf0f5;
    border-right: 1px solid #edf0f5;
    border-bottom: 1px solid #edf0f5;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #ee4266 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 9px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    background: #f4f5f9;
    color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children a {
    text-transform: uppercase;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
    color: #ee4266;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 40px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
    color: #25262a;
    letter-spacing: .2em;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #ee4266;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 174px);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
    min-height: 400px;
    height: 500px;
}

.site-blocks-cover h1 {
    font-size: 50px;
    font-weight: 900;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.site-blocks-1 .icon span {
    position: relative;
    color: #ee4266;
    top: -10px;
    font-size: 50px;
    display: inline-block;
}

.site-blocks-2 .block-2-item .text>span,
.site-blocks-2 .block-2-item .text h3 {
    color: #fff;
}

.block-3 .owl-nav .owl-prev,
.block-3 .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #5c626e;
}

.block-3 .owl-nav .owl-prev:hover,
.block-3 .owl-nav .owl-next:hover {
    color: #25262a;
}

.block-3 .owl-nav .owl-prev.disabled,
.block-3 .owl-nav .owl-next.disabled {
    opacity: .2;
}

.block-4 .block-4-text h3 a {
    text-decoration: none;
}

.block-5 ul,
.block-5 ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.block-5 ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    color: #25262a;
}

.block-5 ul li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #ee4266;
}

.block-5 ul fas:before {
    content: "\e8b4";
}

.block-5 ul li.email:before {
    content: "\f0e0";
}

.block-5 ul li.phone:before {
    content: "\f095";
}

.block-7 .form-group {
    position: relative;
}

.block-7 .form-control {
    padding-right: 96px;
}

.block-7 .btn {
    position: absolute;
    width: 80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3px;
}

.site-block-order-table td,
.site-block-order-table th {
    color: #000;
}

.site-block-top-search input {
    padding-left: 40px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.site-block-top-search input:focus,
.site-block-top-search input:active {
    padding-left: 25px;
}

.site-block-27 ul,
.site-block-27 ul li {
    padding: 0;
    margin: 0;
}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-block-27 ul li a,
.site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.site-block-27 ul li.active a,
.site-block-27 ul li.active span {
    background: #ee4266;
    color: #fff;
    border: 1px solid transparent;
}

#slider-range .ui-slider-handle:focus,
#slider-range .ui-slider-handle:active {
    outline: none;
}

.bag {
    position: relative;
}

.bag .number {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    background: #ee4266;
    right: -10px;
}

.search-wrap {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.search-wrap .container {
    position: relative;
    height: 100%;
}

.search-wrap .form-control {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    z-index: 3;
    font-size: 40px;
}

.search-wrap .search-close {
    z-index: 4;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-wrap .search-close span {
    font-size: 30px;
}

.title-section h2 {
    padding-left: 30px;
    border-left: 4px solid #ee4266;
    display: inline-block;
    color: #000;
}

.title-section.text-center h2 {
    border-left: none;
    position: relative;
    padding-left: 0px;
    padding-bottom: 20px;
}

.title-section.text-center h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background: #ee4266;
    content: "";
}

.product-item {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.product-item .product-category {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #000;
    z-index: 8;
    top: 60%;
    left: 50%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.product-item .product-category span {
    color: #ced4da;
    font-size: 12px;
}

.product-item .product-category:hover {
    background: #000;
    color: #fff;
}

.product-item .product-category:hover span {
    color: rgba(255, 255, 255, 0.5);
}

.product-item.full-height {
    height: 100% !important;
}

@media (max-width: 991.98px) {
    .product-item.full-height {
        height: 300px !important;
        margin-bottom: 30px;
    }
}

.product-item.bg-gray {
    background: #f9f9f9;
}

.product-item.sm-height {
    height: 300px;
    padding: 40px;
}

.product-item.md-height {
    height: 400px;
    padding: 40px;
}

.product-item {
    left: 50%;
    top: 15%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 300px;
    position: absolute;
}

.item-entry .product-item {
    margin-bottom: 30px;
}

.item-entry .item-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}

.item-entry .item-title a {
    color: gray;
}

.item-entry .item-title a:hover {
    color: #000;
}

.item-entry .item-price {
    color: #000;
    font-weight: bold;
}

.item-entry .item-price del {
    color: #b3b3b3;
}

.custom-border-bottom {
    border-bottom: 1px solid #f9f9f9;
}

.custom-border-top {
    border-top: 1px solid #f9f9f9;
}

.height-auto {
    height: auto !important;
}