<div class="modal fade" id="herramientasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Herramienta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="herramientas.nombre" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="url" name="imagen" #imagen="ngModel" [(ngModel)]="herramientas.imagen" placeholder="Imagen" class="form-control" autocomplete="off">
          </div>
          <div class="form-group">
            <input type="number" name="precio" #precio="ngModel" [(ngModel)]="herramientas.precio" placeholder="Precio" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <textarea name="descripcion" rows="2" #descripcion="ngModel" [(ngModel)]="herramientas.descripcion" placeholder="Descripcion" class="form-control">
            </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="submit" class="btn btn-primary" (click)="GuardarPublicacionwithSpring()">Publicar</button> -->
        <button type="submit" class="btn btn-primary" (click)="GuardarPublicacionSpring()">Publicar</button>
      </div>
    </div>
  </div>
</div>
