<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let arbusto of arbustos">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{arbusto.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(arbusto.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="arbusto.imagen" >
      <div class="card-body">
        <p>{{arbusto.precio}}</p>
        <p>{{arbusto.descripcion}}</p>
        <a [routerLink]="['/arbusto/edit', arbusto.id]" class="btn btn-info btn-block">
          Editar Arbusto
        </a>
      </div>
    </div>
  </div>
</div>
