<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let decoracion of decoraciones">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{decoracion.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(decoracion.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="decoracion.imagen" >
      <div class="card-body">
        <p>{{decoracion.precio}}</p>
        <p>{{decoracion.descripcion}}</p>
        <a [routerLink]="['/decoracion/edit', decoracion.id]" class="btn btn-info btn-block">
          Editar Decoracion
        </a>
      </div>
    </div>
  </div>
</div>
