<br>
<br>
<br>
<br>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#abonosModal">Agregar Abonos</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#arbolesModal">Agregar Arboles</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#arbustosModal">Agregar Arbustos</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#areasModal">Agregar Areas-Verdes</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#cespedModal">Agregar Cespedes</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#decoracionModal">Agregar Decoraciones</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#disenosModal">Agregar Diseños</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#floresModal">Agregar Flores</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#herramientasModal">Agregar Herramientas</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#piedrasModal">Agregar Piedras</button>
<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#tierrasModal">Agregar Tierras</button>
<desarrolloweb-abonosnuevo></desarrolloweb-abonosnuevo>
<desarrolloweb-arbolesnuevo></desarrolloweb-arbolesnuevo>
<desarrolloweb-arbustosnuevo></desarrolloweb-arbustosnuevo>
<desarrolloweb-areas-verdesnuevo></desarrolloweb-areas-verdesnuevo>
<desarrolloweb-cespedesnuevo></desarrolloweb-cespedesnuevo>
<desarrolloweb-decoracionnuevo></desarrolloweb-decoracionnuevo>
<desarrolloweb-floresnuevo></desarrolloweb-floresnuevo>
<desarrolloweb-herramientasnuevo></desarrolloweb-herramientasnuevo>
<desarrolloweb-piedrasnuevo></desarrolloweb-piedrasnuevo>
<desarrolloweb-tierrasnuevo></desarrolloweb-tierrasnuevo>
<desarrolloweb-disenosnuevo></desarrolloweb-disenosnuevo>
