<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4 col-md-6 item-entry mb-4" *ngFor="let abono of abonos">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center ">
        {{abono.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(abono.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="abono.imagen" >
      <div class="card-body">
        <p>{{abono.precio}}</p>
        <p>{{abono.descripcion}}</p>
        <a [routerLink]="['/abono/edit', abono.id]" class="btn btn-info btn-block">
          Editar Abono
        </a>
      </div>
    </div>
  </div>
</div>
