<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let piedra of piedras">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{piedra.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(piedra.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="piedra.imagen" >
      <div class="card-body">
        <p>{{piedra.precio}}</p>
        <p>{{piedra.descripcion}}</p>
        <a [routerLink]="['/piedra/edit', piedra.id]" class="btn btn-info btn-block">
          Editar Piedra
        </a>
      </div>
    </div>
  </div>
</div>
