<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form #formulario="ngForm" (ngSubmit)="updateProductwithSpring(formulario)" >
          <div class="form-group">
            <input type="hidden" name="id" #nombre="ngModel" [(ngModel)]="flor.id" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="flor.nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name="precio" #precio="ngModel" [(ngModel)]="flor.precio" class="form-control">
          </div>
          <div class="form-group">
            <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="flor.descripcion" rows="2" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="url" name="imagen" #imagen="ngModel" [(ngModel)]="flor.imagen" class="form-control">
          </div>
          <button class="btn btn-success btn-block" type="submit">
            Editar
          </button>
        </form>
      </div>
    </div>
    <!-- </div>
      <div class="col-md-4">
        <div class="card card-body text-center" *ngFor="let products of product">
        <img [src]="products.imagen" alt="No Image" class="img-fluid">
          <h3>{{products.nombre}}</h3>
          <h3>{{products.precio}}</h3>
          <h3>{{products.descripcion}}</h3>
        </div>
      </div>
    </div> -->
