<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let herramienta of herramientas">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{herramienta.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(herramienta.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="herramienta.imagen" >
      <div class="card-body">
        <p>{{herramienta.precio}}</p>
        <p>{{herramienta.descripcion}}</p>
        <a [routerLink]="['/herramienta/edit', herramienta.id]" class="btn btn-info btn-block">
          Editar Herramienta
        </a>
      </div>
    </div>
  </div>
</div>
