<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let arbol of arboles">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{arbol.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(arbol.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="arbol.imagen" >
      <div class="card-body">
        <p>{{arbol.precio}}</p>
        <p>{{arbol.descripcion}}</p>
        <a [routerLink]="['/arbol/edit', arbol.id]" class="btn btn-info btn-block">
          Editar Arbol
        </a>
      </div>
    </div>
  </div>
</div>
