<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#Nuevos Estilos de Jardines 2020</h2>
            <h1>Nuevos Estilos</h1>
<!--            <p><a routerLink="" class="btn btn-black rounded-0">Comprar ahora</a></p>-->
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="../../../assets/Diseños/diseños7.jpg" alt="Image" class="img-fluid" style="height: 800px; width: 2000px">
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 class="text-uppercase"><span class="d-block">DESCUBRIR</span> NUESTROS PRODUCTOS</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-8">
            <div class="product-item sm-height full-height bg-gray">
<!--              <a routerLink="" class="product-category">Arboles <span>25 articulos</span></a>-->
              <img src="../../../assets/Arbol/arbol1.jpeg" alt="Image" class="img-fluid" style="height: 570px; top: 25px">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height bg-gray mb-4">
<!--              <a routerLink="" class="product-category">Arbustos <span>25 articulos</span></a>-->
              <img src="../../../assets/Arbustos/arbustos.jpeg" alt="Image" class="img-fluid" style="height: 500px; width: 500px">
            </div>
            <div class="product-item sm-height bg-gray">
<!--              <a routerLink="" class="product-category">Abono <span>25 articulos</span></a>-->
              <img src="../../../assets/Abono/abono.jpeg" alt="Image" class="img-fluid" style="height: 500px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Productos Populares</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Arbol/arbol.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
            </a>
            <h2 class="item-title"><a href="#">Arbol para jardines pequeños</a></h2>
            <strong class="item-price">Q.200</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Arbustos/arbustos3.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
            </a>
            <h2 class="item-title"><a href="#">Arbustos para jardines</a></h2>
            <strong class="item-price"><del>Q.300</del> Q.150</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Flores/flores4.jpeg" alt="Image" class="img-fluid" style="top: 40px">
            </a>
            <h2 class="item-title"><a routerLink="">Flores para jardines</a></h2>
            <strong class="item-price"><del>Q.50</del> Q.25</strong>
            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Piedras/piedras3.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
            </a>
            <h2 class="item-title"><a routerLink="">Piedras</a></h2>
            <strong class="item-price"><del>Q.90</del> Q.70</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/AreasVerdes/areasverdes.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
            </a>
            <h2 class="item-title"><a routerLink="">Areas Verdes</a></h2>
            <strong class="item-price"><del>Q.80</del> Q.50</strong>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Herramientas/herramientas1.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
            </a>
            <h2 class="item-title"><a routerLink="">Herramientas</a></h2>
            <strong class="item-price">Q.500</strong>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">Most Rated</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3">
            <div class="nonloop-block-3 owl-carousel">
              <div class="item">
                <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/img/model_1.png" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>
          </div>
              </div>
              <div class="item">
                <div class="col-lg-4 col-md-6 item-entry mb-4">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="../../../assets/img/prod_3.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                    <strong class="item-price"><del>$46.00</del> $28.00</strong>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="../../../assets/img/model_5.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
                  <strong class="item-price"><del>$46.00</del> $28.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="../../../assets/img/prod_1.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
                  <strong class="item-price"><del>$46.00</del> $28.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-entry">
                  <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="../../../assets/img/model_7.png" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
                  <strong class="item-price">$58.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!--Carousel-->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">Más Valorada</h2>
          </div>
        </div>
        <!--<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/model_1.png" class="img-fluid" alt="..." >
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/prod_3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-black-50">Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/model_5.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </div>
        </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>-->
        <div class="row">
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Arbol/arbol3.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
            </a>
            <h2 class="item-title"><a routerLink="">Arbol</a></h2>
            <strong class="item-price"><del>Q.300</del> Q.250</strong>
            <div class="star-rating">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Arbustos/arbustos2.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
            </a>
            <h2 class="item-title"><a routerLink="">Arbustos</a></h2>
            <strong class="item-price"><del>Q.200</del> Q.150</strong>
            <div class="star-rating">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a routerLink="" class="product-item md-height bg-gray d-block">
              <img src="../../../assets/Flores/flores2.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
            </a>
            <h2 class="item-title"><a routerLink="">Flores</a></h2>
            <strong class="item-price"><del>Q.80</del> Q.50</strong>
            <div class="star-rating">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
            </div>
        </div>
      </div>
    </div>
    <div class="site-blocks-cover inner-page py-5" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#Diseños de jardines 2020</h2>
            <h1>Nuevos Estilos</h1>
<!--            <p><a routerLink="" class="btn btn-black rounded-0">Comprar Ahora</a></p>-->
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="../../../assets/Diseños/diseños.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 600px">
          </div>
        </div>
      </div>
    </div>
      <desarrolloweb-footernavbar></desarrolloweb-footernavbar>
  </div>
