<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let cesped of cespedes">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{cesped.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(cesped.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="cesped.imagen" >
      <div class="card-body">
        <p>{{cesped.precio}}</p>
        <p>{{cesped.descripcion}}</p>
        <a [routerLink]="['/cesped/edit', cesped.id]" class="btn btn-info btn-block">
          Editar Cesped
        </a>
      </div>
    </div>
  </div>
</div>
