<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="title-section mb-5 col-12">
        <h2 class="text-uppercase">Nuestros Estilos para los jardines</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños1.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños2.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños3.jpeg" alt="Image" class="img-fluid" style="top: 20px; height: 350px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños4.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños5.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños6.jpeg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <a routerLink="" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Diseños/diseños7.jpg" alt="Image" class="img-fluid" style="top: 25px; height: 350px">
        </a>
      </div>
    </div>
  </div>
</div>
<desarrolloweb-footernavbar></desarrolloweb-footernavbar>

