<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let flor of flores">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{flor.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(flor.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="flor.imagen" >
      <div class="card-body">
        <p>{{flor.precio}}</p>
        <p>{{flor.descripcion}}</p>
        <a [routerLink]="['/flor/edit', flor.id]" class="btn btn-info btn-block">
          Editar Flor
        </a>
      </div>
    </div>
  </div>
</div>
