<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let tierra of tierras">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{tierra.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(tierra.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="tierra.imagen" >
      <div class="card-body">
        <p>{{tierra.precio}}</p>
        <p>{{tierra.descripcion}}</p>
        <a [routerLink]="['/tierra/edit', tierra.id]" class="btn btn-info btn-block">
          Editar Tierra
        </a>
      </div>
    </div>
  </div>
</div>
