<div class="site-navbar bg-white py-2">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            <li><a routerLink="/principal">Principal</a></li>
            <li><a routerLink="/diseños">Diseños</a></li>
            <li><a routerLink="/catalogo">Catálogo</a></li>
<!--            <li><a routerLink="/producto/crear">Nuevos Productos</a></li>-->
<!--            <li><a routerLink="/list">Ver Productos</a></li>-->
            <li><a routerLink="/contacto">Contacto</a></li>
          </ul>
        </nav>
      </div>
      <div class="icons">
        <a href="/nuevoingreso" class="icons-btn d-inline-block">
          <i class="fas fa-plus-circle"></i>
        </a>
        <a routerLink="" class="icons-btn d-inline-block">
          <i class="far fa-heart"></i>
        </a>
        <a routerLink="/carrito" class="icons-btn d-inline-block bag">
          <i class="fas fa-cart-plus"></i>
          <span class="number">2</span>
        </a>
        <a class="site-menu-toggle ml-3 d-inline-block d-lg-none">
          <i class="fas fa-plus-circle"></i>
        </a>
      </div>
    </div>
  </div>
</div>
