<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form >
        <div class="form-group">
          <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="product.nombre" placeholder="Nombre" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="number" name="precio" #precio="ngModel" [(ngModel)]="product.precio" placeholder="Precio" class="form-control">
        </div>
        <div class="form-group">
          <textarea name="descripcion" #descipcion="ngModel" [(ngModel)]="product.descripcion" rows="2" placeholder="Descripcion" class="form-control">
          </textarea>
        </div>
        <div class="form-group">
          <input type="url" name="imagen" #imagen="ngModel" [(ngModel)]="product.imagen" placeholder="Image" class="form-control">
        </div>
        <!--<button *ngIf="!edit" class="btn btn-success btn-block" (click)="GuardarProduct()">
          Guardar
        </button>-->
        <button *ngIf="!edit" class="btn btn-success btn-block" (click)="GuardarProductwithSpring()">
          Guardar
        </button>
        <!--<button *ngIf="edit" class="btn btn-primary btn-block" (click)="edit ? updateProduct() : GuardarProduct()">
          Editar
        </button>-->
      </form>
    </div>
  </div>
</div>
  <div class="col-md-4">
    <div class="card card-body text-center" >
    <img [src]="product.imagen == '' ? '../../../../assets/img/no-image.png' : product.imagen" alt="No Image" alt="No Image" class="card-img-top">
      <h3>{{product.id}}. {{product.nombre == '' ? 'Nombre del Producto' : product.nombre}}</h3>
      <h3>{{product.precio == 0 ? 'Precio del producto' : product.precio}}</h3>
      <h3>{{product.descripcion == '' ? 'Escriba una Descripcion' : product.descripcion}}</h3>
    </div>
  </div>
</div>
