<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let product of products">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{product.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="deletewithSpring(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="product.imagen" >
      <div class="card-body">
        <p>{{product.precio}}</p>
        <p>{{product.descripcion}}</p>
        <a [routerLink]="['/product/edit', product.id]" class="btn btn-info btn-block">
          Editar Producto
        </a>
      </div>
      </div>
    </div>
  </div>

