<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="row">
  <div class="col-lg-4" *ngFor="let area of areas">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center text-center">
        {{area.nombre}}
        <!--<button class="btn btn-danger" (click)="delete(product.id)">
          <i class="far fa-trash-alt"></i>
        </button>-->
        <button class="btn btn-danger" (click)="delete(area.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="area.imagen" >
      <div class="card-body">
        <p>{{area.precio}}</p>
        <p>{{area.descripcion}}</p>
        <a [routerLink]="['/areas/edit', area.id]" class="btn btn-info btn-block">
          Editar Area Verde
        </a>
      </div>
    </div>
  </div>
</div>
