<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Abonos</a></h2>
        <a routerLink="/catalogo/abonos" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Abono/abono.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Arboles</a></h2>
        <a routerLink="/catalogo/arboles" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Arbol/arbol.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Arbustos</a></h2>
        <a routerLink="/catalogo/arbustos" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Arbustos/arbustos.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Areas Verdes</a></h2>
        <a routerLink="/catalogo/areas-verdes" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/AreasVerdes/areasverdes.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Cesped/Grama</a></h2>
        <a routerLink="/catalogo/cespedes-o-grama" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Cesped/cesped.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Decoraciones</a></h2>
        <a routerLink="/catalogo/decoraciones" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Decoracion/decoracion.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Flores</a></h2>
        <a routerLink="/catalogo/flores" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Flores/flores.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Herramientas</a></h2>
        <a routerLink="/catalogo/herramientas" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Herramientas/herramientas.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Piedras</a></h2>
        <a routerLink="/catalogo/piedras" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Piedras/piedras.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
      <div class="col-lg-4 col-md-6 item-entry mb-4">
        <h2 style="text-align: center"><a routerLink="">Tierra</a></h2>
        <a routerLink="/catalogo/tierras" class="product-item md-height bg-gray d-block">
          <img src="../../../assets/Tierra/tierra2.jpeg" alt="Image" class="img-fluid" style="height: 350px; top: 25px">
        </a>
      </div>
    </div>
  </div>
</div>
