<div class="sub_header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 col-xl-6">
        <div id="logo">
          <div class="site-logo">
            <a routerLink="/principal" class="js-logo-clone">Green Angecy</a>
          </div>
        </div>
      </div>
<!--      <div class="col-md-8 col-xl-6">-->
<!--        <div class="sub_header_social_icon float-right">-->
<!--          <a routerLink="/register" class="register_icon">-->
<!--            <i class="fas fa-arrow-right"></i>REGISTRARSE-->
<!--          </a>-->
<!--          <a routerLink="/login" class="register_icon">-->
<!--            <i class="fas fa-arrow-right"></i>INICIAR SESION-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
