.site-logo a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #25262a;
    color: #000 !important;
}

.site-logo a:hover {
    text-decoration: none;
}

.sub_header {
    padding: 20px 0px;
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


/* line 41, E:/166 Basketball/Basketball_Template/sass/_common.scss */

a:hover,
a :hover {
    color: #ff8b23;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media (max-width: 576px) {
    /* line 5, E:/166 Basketball/Basketball_Template/sass/_menu.scss */
    .sub_header #logo {
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 10, E:/166 Basketball/Basketball_Template/sass/_menu.scss */
    .sub_header #logo {
        text-align: center;
    }
}

@media (max-width: 576px) {
    /* line 20, E:/166 Basketball/Basketball_Template/sass/_menu.scss */
    .sub_header .sub_header_social_icon {
        float: none !important;
        text-align: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 20, E:/166 Basketball/Basketball_Template/sass/_menu.scss */
    .sub_header .sub_header_social_icon {
        float: none !important;
        text-align: center;
    }
}


/* line 35, E:/166 Basketball/Basketball_Template/sass/_menu.scss */

.sub_header .sub_header_social_icon a {
    font-size: 14px;
    color: #555555;
    margin-left: 60px;
    display: inline-block;
}

@media (max-width: 576px) {
    /* line 35, E:/166 Basketball/Basketball_Template/sass/_menu.scss */
    .sub_header .sub_header_social_icon a {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
        text-align: left !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 35, E:/166 Basketball/Basketball_Template/sass/_menu.scss */
    .sub_header .sub_header_social_icon a {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        text-align: left !important;
    }
}


/* line 58, E:/166 Basketball/Basketball_Template/sass/_menu.scss */

.sub_header .sub_header_social_icon a i {
    margin-right: 12px;
    color: #ff8b23;
}


/* line 63, E:/166 Basketball/Basketball_Template/sass/_menu.scss */

.sub_header .sub_header_social_icon .register_icon {
    border: 1px solid #e5e9ed;
    padding: 9px 26px 9px 60px;
    border-radius: 50px;
    position: relative;
}


/* line 68, E:/166 Basketball/Basketball_Template/sass/_menu.scss */

.sub_header .sub_header_social_icon .register_icon i {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #e5e9ed;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -1px;
    -webkit-transition: 2s;
    transition: 2s;
}


/* line 81, E:/166 Basketball/Basketball_Template/sass/_menu.scss */

.sub_header .sub_header_social_icon .register_icon:hover {
    padding: 9px 60px 9px 26px;
    background-color: #ff8b23;
    color: #fff;
}


/* line 85, E:/166 Basketball/Basketball_Template/sass/_menu.scss */

.sub_header .sub_header_social_icon .register_icon:hover i {
    left: auto;
    right: -14px;
    top: -1px;
    color: #fff;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    /* line 213, E:/166 Basketball/Basketball_Template/sass/_common.scss */
    .container {
        max-width: 1170px;
    }
}