<footer class="site-footer custom-border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <h3 class="footer-heading mb-4">Promoción</h3>
        <a routerLink="" class="block-6">
          <img src="../../../assets/Decoracion/decoracion1.jpeg" alt="Image placeholder" class="img-fluid rounded mb-4">
          <h3 class="font-weight-light  mb-0">Encontrar tus diseños adecuados</h3>
          <p>Promoción de Agosto 03 &mdash; 25, 2020</p>
        </a>
      </div>
      <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Enlaces Rapidos</h3>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a routerLink="">Vender en Línea</a></li>
              <li><a routerLink="">Caracteristicas</a></li>
              <li><a routerLink="">Carrito de compras</a></li>
              <li><a routerLink="">Constructor de Tiendas</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a routerLink="">Comercio movil</a></li>
              <li><a routerLink="">Mandar Envio</a></li>
              <li><a routerLink="">Desarrollo de sitios web</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-unstyled">
              <li><a routerLink="">Punto de venta</a></li>
              <li><a routerLink="">Hardware</a></li>
              <li><a routerLink="">Software</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="block-5 mb-5">
          <h3 class="footer-heading mb-4 text-left">Datos de Contacto</h3>
          <ul class="list-unstyled">
            <li><a><i class="fas fa-map-marker-alt"></i> 203 Fake St. Mountain View, San Francisco, California, USA</a></li>
            <li><a><i class="fas fa-phone-alt"></i> +2 392 3929 210</a></li>
            <li><a><i class="fas fa-envelope"></i> shopmax@shop.com</a></li>
          </ul>
        </div>
        <div class="block-7">
          <form action="#" method="post">
            <label for="email_subscribe" class="footer-heading">Subscribe</label>
            <div class="form-group">
              <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
              <input type="submit" class="btn btn-sm btn-primary" value="Enviar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
