<desarrolloweb-navegacion1></desarrolloweb-navegacion1>
<desarrolloweb-navegacion2></desarrolloweb-navegacion2>
<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card shopping-cart">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="mb-4 py-2 text-center font-weight-bold text-uppercase">Productos Comprados</h3>
              <div class="media mb-3">
                <img class="d-flex mr-3" src="../../../../assets/Arbol/arbol.jpeg" alt="Generic placeholder image">
                <div class="media-body">
                  <a class="float-right"><i class="fas fa-times"></i></a>
                  <h5 class="mt-0 font-weight-bold text-primary">Arbol</h5>
                  <p class="font-weight-bold grey-text mb-2">Color: Rosa</p>
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-bold">Q.250</p>
                    <div class="def-number-input number-input safari_only mt-n05">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                      <input class="quantity font-weight-bold black-text" min="0" name="quantity" value="1" type="number">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media mb-3">
                <img class="d-flex mr-3" src="../../../../assets/Decoracion/decoracion.jpeg" alt="Generic placeholder image">
                <div class="media-body">
                  <a class="float-right"><i class="fas fa-times"></i></a>
                  <h5 class="mt-0 font-weight-bold text-primary">Decoracion</h5>
                  <p class="font-weight-bold grey-text mb-2">Color: Cafe</p>
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-bold">Q.150</p>
                    <div class="def-number-input number-input safari_only mt-n05">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                      <input class="quantity font-weight-bold black-text" min="0" name="quantity" value="1" type="number">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media">
                <img class="d-flex mr-3" src="../../../../assets/Flores/flores2.jpeg" alt="Generic placeholder image">
                <div class="media-body">
                  <a class="float-right"><i class="fas fa-times"></i></a>
                  <h5 class="mt-0 font-weight-bold text-primary">Flores</h5>
                  <p class="font-weight-bold grey-text mb-2">Color: Violeta</p>
                  <div class="d-flex justify-content-between">
                    <p class="font-weight-bold">Q.50</p>
                    <div class="def-number-input number-input safari_only mt-n05">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                      <input class="quantity font-weight-bold black-text" min="0" name="quantity" value="1" type="number">
                      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="blue-border mb-4">
              <div class="d-flex justify-content-between light-blue lighten-5 p-2">
                <h5 class="font-weight-bold mb-0">Total:</h5>
                <h5 class="font-weight-bold mb-0">Q.450</h5>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="mb-4 py-2 mt-lg-0 mt-4 text-center font-weight-bold text-uppercase">Pago</h3>
              <form action="">
                <div class="md-form mb-5">
                  <label for="inputMDEx4">Numero de Tarjeta</label>
                  <input type="tel" id="inputMDEx4" class="form-control" autofocus placeholder="1234 5678 9012 3456">
                </div>
                <div class="md-form mb-5">
                  <label for="inputMDEx3">Nombre de la Tarjeta</label>
                  <input type="text" id="inputMDEx3" class="form-control" autofocus placeholder="Miguel Angel Mazariegos">
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="md-form">
                      <label for="inputMDEx2">Fecha de vencimiento</label>
                      <input type="text" id="inputMDEx2" class="form-control" autofocus placeholder="04/23">
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="md-form">
                      <label for="inputMDEx1">Codigo</label>
                      <input type="password" id="inputMDEx1" class="form-control" autofocus placeholder="345">
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary btn-block mb-lg-0 mb-5">Comprar ahora</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
